!!!
%html
  %head
  %body
    .flash_box
    .wrapper
      .chat__side
        .chat__side__header
          .chat__side__header__name
            %p seo
          .chat__side__header__cog
            .chat__side__header__cog__fa-edit
              %i.fa.fa-edit
            .chat__side__header__cog__fa-cog
              %i.fa.fa-cog
        .chat__side__groups
          .chat__side__groups__name
          %p sample
          .chat__side__groups__comments
          %p Good bye world!
      .chat__main
        .chat__main__header
          .chat__main__header__name
            %p sample
          .chat__main__header__comments
            %p Members: seo neko
        .chat__main__comments
          .chat__main__comments__1
            .chat__main__comments__1__name
              %p seo
            .chat__main__comments__1__time
              %p 2016/09/21
            .chat__main__comments__1__comments
              %p Hello world!
          .chat__main__comments__2
            .chat__main__comments__2__name
              %p neko
            .chat__main__comments__2__time
              %p 2016/09/22
            .chat__main__comments__2__comments
              %p Good bye world!
        .chat__main__form
          %form
            .form__comments
              %label 
            .form__fa-image
              %i.fa.fa-image
            .form__input
              %input send 